<%= image_tag 'bluebird.png', class: 'logo' %>
<p><div class="home_button"><%= link_to 'ホーム', '/', class: 'home_btn_txt' %></div></p>
<div class="haribote_btn"><p>話題を検索</p>
<p>通知</p>
<p>メッセージ</p>
<p>ブックマーク</p>
<p>リスト</p>
<p>プロフィール</p></div>
<p><div class="tweet_button"><%= link_to 'ツイートする', '/tweets/new', class: "tweet_btn_txt" %></div></p>